.vs/
./ATKApp6.Infrastructure/Migrations
./ATKApp6/bin/
./ATKApp6/obj/
./ATKApp6.Domain/bin/
./ATKApp6.Domain/obj/
./ATKApp6.Infrastructure/bin/
./ATKApp6.Infrastructure/obj/
./ATKApp6.Services/bin/
./ATKApp6.Services/obj/